:root {
    /*BackGround Colors*/
    --background1: linear-gradient(140deg, rgba(0, 118, 190, 1) 60%, rgba(1, 155, 225, 1) 74%);
    --background2: linear-gradient(140deg, rgba(42, 53, 135, 1) 60%, rgba(28, 103, 176, 1) 74%);
    --background3: linear-gradient(140deg, rgba(244, 165, 48, 1) 60%, rgba(246, 202, 69, 1) 74%);
    --background4: linear-gradient(140deg, rgba(228, 50, 20, 1) 60%, rgba(231, 87, 15, 1) 74%);
    --background5: linear-gradient(140deg, rgba(153, 40, 120, 1) 60%, rgba(221, 99, 160, 1) 74%);
    --background6: linear-gradient(140deg, rgba(13, 143, 134, 1) 60%, rgba(84, 186, 175, 1) 74%);
    --background7: linear-gradient(140deg, rgba(203, 213, 55, 1) 60%, rgba(116, 184, 73, 1) 74%);
    --background8: linear-gradient(140deg, rgba(52, 45, 99, 1) 60%, rgba(97, 36, 129, 1) 74%);
    --background9: linear-gradient(140deg, rgba(231, 77, 43, 1) 60%, rgba(242, 150, 37, 1) 74%);
    --background10: linear-gradient(140deg, rgba(0, 118, 190, 1) 60%, rgba(1, 155, 225, 1) 74%);
    /*BackGround Colors Rombo*/
    --background-rombo1: linear-gradient(97deg, rgba(0, 118, 190, 1) 44%, rgba(1, 155, 225, 1) 74%);
    --background-rombo2: linear-gradient(97deg, rgba(42, 53, 135, 1) 44%, rgba(28, 103, 176, 1) 74%);
    --background-rombo3: linear-gradient(97deg, rgba(244, 165, 48, 1) 44%, rgba(246, 202, 69, 1) 74%);
    --background-rombo4: linear-gradient(97deg, rgba(228, 50, 20, 1) 44%, rgba(231, 87, 15, 1) 74%);
    --background-rombo5: linear-gradient(97deg, rgba(153, 40, 120, 1) 44%, rgba(221, 99, 160, 1) 74%);
    --background-rombo6: linear-gradient(97deg, rgba(13, 143, 134, 1) 44%, rgba(84, 186, 175, 1) 74%);
    --background-rombo7: linear-gradient(97deg, rgba(203, 213, 55, 1) 44%, rgba(116, 184, 73, 1) 74%);
    --background-rombo8: linear-gradient(97deg, rgba(52, 45, 99, 1) 44%, rgba(97, 36, 129, 1) 74%);
    --background-rombo9: linear-gradient(97deg, rgba(231, 77, 43, 1) 44%, rgba(242, 150, 37, 1) 74%);
    --background-rombo10: linear-gradient(97deg, rgba(0, 118, 190, 1) 44%, rgba(1, 155, 225, 1) 74%);
    /*Border Colors*/
    --border1: rgba(1, 155, 225, 1);
    --border2: rgba(28, 103, 176, 1);
    --border3: rgba(246, 202, 69, 1);
    --border4: rgba(231, 87, 15, 1);
    --border5: rgba(221, 99, 160, 1);
    --border6: rgba(84, 186, 175, 1);
    --border7: rgba(116, 184, 73, 1);
    --border8: rgba(97, 36, 129, 1);
    --border9: rgba(242, 150, 37, 1);
    --border10: rgba(1, 155, 225, 1);
    /*Margin Circulo Pequeño*/
    --margin-circulo1: 4.125em 0em 3em -0.375em;
    --margin-circulo2: 2.625em 0em 0em 0.125em;
    --margin-circulo3: 1.313em 0em 0em 1.063em;
    --margin-circulo4: 0.25em 0em 0em 2.5em;
    --margin-circulo5: -0.375em 0em 0em 4.25em;
    --margin-circulo6: -0.5em 0em 0em 6.125em;
    --margin-circulo7: 0.125em 0em 0em 7.813em;
    --margin-circulo8: 1.125em 0em 0em 9.188em;
    --margin-circulo9: 2.438em -0.063em 0em 10.188em;
    --margin-circulo10: 4.125em -0.875em 0em 10.813em;
    /*Transformar Botones*/
    --transform-btn1: translateY(0.19em) translateX(-13em) rotate(630deg);
    --transform-btn2: translateY(-2.188em) translateX(-9.75em) rotate(630deg);
    --transform-btn3: translateY(-5em) translateX(-7.188em) rotate(630deg);
    --transform-btn4: translateY(-6.938em) translateX(-4.75em) rotate(630deg);
    --transform-btn5: translateY(-8.063em) translateX(-2.875em) rotate(630deg);
    --transform-btn6: translateY(-7.625em) translateX(-0.688em) rotate(630deg);
    --transform-btn7: translateY(-8.375em) translateX(2.188em) rotate(630deg);
    --transform-btn8: translateY(-6em) translateX(4.5em) rotate(630deg);
    --transform-btn9: translateY(-2.875em) translateX(7.813em) rotate(630deg);
    --transform-btn10: translateY(0.25em) translateX(11.375em) rotate(630deg);
    /*Transformar Lineas*/
    --transform-linea1: translateY(0.313em) translateX(-10.5em) rotate(179deg);
    --transform-linea2: translateY(-0.25em) translateX(-8.938em) rotate(186deg);
    --transform-linea3: translateY(-1.875em) translateX(-7.188em) rotate(210deg);
    --transform-linea4: translateY(-3.375em) translateX(-6.125em) rotate(236deg);
    --transform-linea5: translateY(-4.25em) translateX(-5.5em) rotate(252deg);
    --transform-linea6: translateY(-4.5em) translateX(-4em) rotate(270deg);
    --transform-linea7: translateY(-5.375em) translateX(-3.188em) rotate(291deg);
    --transform-linea8: translateY(-4.75em) translateX(-1.25em) rotate(318deg);
    --transform-linea9: translateY(-0.688em) translateX(0.75em) rotate(169deg);
    --transform-linea10: translateY(-2.563em) translateX(0.688em) rotate(361deg);
    /*Tamaño Lineas*/
    --width-linea1: 10.5em;
    --width-linea2: 8.75em;
    --width-linea3: 6.938em;
    --width-linea4: 6.5em;
    --width-linea5: 6.625em;
    --width-linea6: 5.938em;
    --width-linea7: 7.375em;
    --width-linea8: 6.688em;
    --width-linea9: 8.75em;
    --width-linea10: 10.5em;
    /*Transformar Puntos Lineas*/
    --transform-punto1: translateY(0.25em) translateX(-10.688em) rotate(181deg);
    --transform-punto2: translateY(-0.813em) translateX(-8.875em) rotate(186deg);
    --transform-punto3: translateY(-3.563em) translateX(-6.188em) rotate(210deg);
    --transform-punto4: translateY(-5.563em) translateX(-3.688em) rotate(236deg);
    --transform-punto5: translateY(-6.625em) translateX(-2.063em) rotate(254deg);
    --transform-punto6: translateY(-6.25em) translateX(0.25em) rotate(270deg);
    --transform-punto7: translateY(-7em) translateX(3em) rotate(291deg);
    --transform-punto8: translateY(-4.563em) translateX(5.375em) rotate(318deg);
    --transform-punto9: translateY(-1.625em) translateX(8.813em) rotate(169deg);
    --transform-punto10: translateY(0.313em) translateX(10.938em) rotate(361deg);
}