:root {
    /*BackGround Colors*/
    --background1: linear-gradient(140deg, rgba(0, 118, 190, 1) 60%, rgba(1, 155, 225, 1) 74%);
    --background2: linear-gradient(140deg, rgba(42, 53, 135, 1) 60%, rgba(28, 103, 176, 1) 74%);
    --background3: linear-gradient(140deg, rgba(244, 165, 48, 1) 60%, rgba(246, 202, 69, 1) 74%);
    --background4: linear-gradient(140deg, rgba(228, 50, 20, 1) 60%, rgba(231, 87, 15, 1) 74%);
    --background5: linear-gradient(140deg, rgba(153, 40, 120, 1) 60%, rgba(221, 99, 160, 1) 74%);
    --background6: linear-gradient(140deg, rgba(13, 143, 134, 1) 60%, rgba(84, 186, 175, 1) 74%);
    --background7: linear-gradient(140deg, rgba(203, 213, 55, 1) 60%, rgba(116, 184, 73, 1) 74%);
    --background8: linear-gradient(140deg, rgba(52, 45, 99, 1) 60%, rgba(97, 36, 129, 1) 74%);
    --background9: linear-gradient(140deg, rgba(231, 77, 43, 1) 60%, rgba(242, 150, 37, 1) 74%);
    --background10: linear-gradient(140deg, rgba(0, 118, 190, 1) 60%, rgba(1, 155, 225, 1) 74%);
    /*Border Colors*/
    --border1: rgba(1, 155, 225, 1);
    --border2: rgba(28, 103, 176, 1);
    --border3: rgba(246, 202, 69, 1);
    --border4: rgba(231, 87, 15, 1);
    --border5: rgba(221, 99, 160, 1);
    --border6: rgba(84, 186, 175, 1);
    --border7: rgba(116, 184, 73, 1);
    --border8: rgba(97, 36, 129, 1);
    --border9: rgba(242, 150, 37, 1);
    --border10: rgba(1, 155, 225, 1);
    /*Margin Circulo Pequeño*/
    --margin-circulo1: 66px 0px 48px -6px;
    --margin-circulo2: 42px 0px 0px 2px;
    --margin-circulo3: 21px 0px 0px 17px;
    --margin-circulo4: 4px 0px 0px 40px;
    --margin-circulo5: -6px 0px 0px 68px;
    --margin-circulo6: -8px 0px 0px 98px;
    --margin-circulo7: 2px 0px 0px 125px;
    --margin-circulo8: 18px 0px 0px 147px;
    --margin-circulo9: 39px -1px 0px 163px;
    --margin-circulo10: 66px -14px 0px 173px;
    /*Transformar Botones*/
    --transform-btn1: translateY(3px) translateX(-208px) rotate(630deg);
    --transform-btn2: translateY(-35px) translateX(-156px) rotate(630deg);
    --transform-btn3: translateY(-80px) translateX(-115px) rotate(630deg);
    --transform-btn4: translateY(-111px) translateX(-76px) rotate(630deg);
    --transform-btn5: translateY(-129px) translateX(-46px) rotate(630deg);
    --transform-btn6: translateY(-122px) translateX(-11px) rotate(630deg);
    --transform-btn7: translateY(-134px) translateX(35px) rotate(630deg);
    --transform-btn8: translateY(-96px) translateX(72px) rotate(630deg);
    --transform-btn9: translateY(-46px) translateX(125px) rotate(630deg);
    --transform-btn10: translateY(4px) translateX(182px) rotate(630deg);
    /*Transformar Lineas*/
    --transform-linea1: translateY(5px) translateX(-168px) rotate(179deg);
    --transform-linea2: translateY(-4px) translateX(-143px) rotate(186deg);
    --transform-linea3: translateY(-30px) translateX(-115px) rotate(210deg);
    --transform-linea4: translateY(-54px) translateX(-98px) rotate(236deg);
    --transform-linea5: translateY(-68px) translateX(-88px) rotate(252deg);
    --transform-linea6: translateY(-72px) translateX(-64px) rotate(270deg);
    --transform-linea7: translateY(-86px) translateX(-51px) rotate(291deg);
    --transform-linea8: translateY(-75px) translateX(-20px) rotate(318deg);
    --transform-linea9: translateY(-11px) translateX(12px) rotate(169deg);
    --transform-linea10: translateY(-41px) translateX(11px) rotate(361deg);
    /*Tamaño Lineas*/
    --width-linea1: 168px;
    --width-linea2: 140px;
    --width-linea3: 111px;
    --width-linea4: 104px;
    --width-linea5: 106px;
    --width-linea6: 95px;
    --width-linea7: 118px;
    --width-linea8: 107px;
    --width-linea9: 140px;
    --width-linea10: 168px;
    /*Transformar Puntos Lineas*/
    --transform-punto1: translateY(4px) translateX(-171px) rotate(181deg);
    --transform-punto2: translateY(-13px) translateX(-142px) rotate(186deg);
    --transform-punto3: translateY(-57px) translateX(-99px) rotate(210deg);
    --transform-punto4: translateY(-89px) translateX(-59px) rotate(236deg);
    --transform-punto5: translateY(-106px) translateX(-33px) rotate(254deg);
    --transform-punto6: translateY(-100px) translateX(4px) rotate(270deg);
    --transform-punto7: translateY(-112px) translateX(48px) rotate(291deg);
    --transform-punto8: translateY(-73px) translateX(86px) rotate(318deg);
    --transform-punto9: translateY(-26px) translateX(141px) rotate(169deg);
    --transform-punto10: translateY(5px) translateX(175px) rotate(361deg);
}