

.circulo-completo {
    margin: 250px;
}

.circle-menu {
    position: relative;
    width: 150px;
    height: 150px;
    border: 1px solid rgb(211, 208, 208);
    border-radius: 50%;
    box-shadow: inset 0 3em 3em rgba(0, 0, 0, 0.1), 0 0 0 0.5rem rgb(182, 179, 179), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    float: left;
    z-index: 7;
    margin: 14px;
}

p {
    padding: 1rem;
    text-align: center;
}

.circle-menus {
    position: relative;
    background-color: gray;
    width: 180px;
    height: 180px;
    border-radius: 50% 50%;
    margin-left: -165px;
    float: left;
    z-index: 6;
}

.circle-menus::before {
    position: absolute;
    content: "";
    top: 1%;
    left: 1%;
    background-color: #fff;
    height: 98%;
    width: 98%;
    border-radius: 50% 50%;
    box-shadow: inset 0 3em 3em rgb(255, 255, 255), 0 0 0 0.5rem rgb(182, 179, 179), 0.3em 0.3em 1em rgb(255, 255, 255);
}

.circle-menus::after {
    position: absolute;
    content: "";
    height: 50%;
    background-color: rgb(255, 255, 255);
    border: 1px solid #fff;
    top: 50%;
    left: 0;
    width: 100%;
    box-shadow: inset 0 3em 3em rgb(255, 255, 255), 0 0 0 0.5rem rgb(255, 255, 255), 0.3em 0.3em 1em rgb(255, 255, 255);
}

.circle-menus.derecha {
    transform: rotate(90deg);
}

.circulo-pequeno {
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    box-shadow: inset 0 0.1rem 0.1rem rgba(0, 0, 0, 0.1), 0 0 0 0.2rem rgb(229, 224, 224), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    float: left;
    z-index: 5;
}

.num1 {
    border: 1px solid rgb(10 124 241);
    margin: 66px 0px 48px -6px;
}

.num::after {
    height: 1px;
    background-color: red;
}

.num2 {
    border: 1px solid rgb(32 20 212);
    margin: 42px 0px 0px -4px;
}

.num3 {
    border: 1px solid rgb(190 169 26);
    margin: 21px 0px 0px 2px;
}

.num4 {
    border: 1px solid rgb(200 41 41);
    margin: 4px 0px 0px 10px;
}

.num5 {
    border: 1px solid rgb(222 19 235);
    margin: -6px 0px 0px 16px;
}

.num6 {
    border: 1px solid rgb(18 235 115);
    margin: -8px 0px 0px 18px;
}

.num7 {
    border: 1px solid rgb(89 249 20);
    margin: 2px 0px 0px 18px;
}

.num8 {
    border: 1px solid rgb(100 3 225);
    margin: 18px 0px 0px 11px;
}

.num9 {
    border: 1px solid rgb(32 20 212);
    margin: 39px -1px 0px 3px;
}

.num10 {
    border: 1px solid rgb(32 20 212);
    margin: 66px -14px 0px -3px;
}

.circle-punto {
    position: relative;
    width: 212px;
    height: 180px;
    border-radius: 50% 50%;
    margin-left: -177px;
    border: 2px dotted gray;
    float: left;
    z-index: 4;
}

.circle-punto::before {
    position: absolute;
    content: "";
    top: 1%;
    left: 1%;
    background-color: #fff;
    height: 98%;
    width: 98%;
    border-radius: 50% 50%;
}

.circle-punto::after {
    position: absolute;
    content: "";
    height: 50%;
    background-color: rgb(255, 255, 255);
    border: 1px dotted #fff;
    top: 57%;
    left: 0;
    width: 100%;
}

.circle-punto.derecha {
    transform: rotate(90deg);
}

.boton-agrupado {
    position: relative;
    float: left;
    z-index: 3;
}

.button-href {
    position: relative;
    width: 400px;
    height: 36px;
    background: white;
    display: inline-block;
    color: black;
    text-decoration: none;
    z-index: -1;

}

.flecha {
    position: absolute;
    content: "";
    border-left: 34px solid white;    
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent;
    margin-left: -1px;
}

.texto {
    margin-left: 30px;
    margin-top: 9px;
    font-size: 17px;
    color: white;

}

.btn1 {
    transform: translateY(-268px) translateX(-391px) rotate(630deg);
}

.btn2 {
    transform: translateY(-307px) translateX(-339px) rotate(630deg);
}

.btn3 {
    transform: translateY(-348px) translateX(-294px) rotate(630deg);
}

.btn4 {
    transform: translateY(-382px) translateX(-258px) rotate(630deg);
}

.btn5 {
    transform: translateY(-401px) translateX(-228px) rotate(630deg);
}

.btn6 {
    transform: translateY(-393px) translateX(-192px) rotate(630deg);
}

.btn7 {
    transform: translateY(-403px) translateX(-150px) rotate(630deg);
}

.btn8 {
    transform: translateY(-365px) translateX(-111px) rotate(630deg);
}

.btn9 {
    transform: translateY(-316px) translateX(-58px) rotate(630deg);
}

.btn10 {
    transform: translateY(-263px) translateX(-3px) rotate(630deg);
}


.linea {
    position: relative;
    width: 112px;
    height: 47px;
    border-bottom: 1px solid rgb(68, 66, 66);
    float: left;
    z-index: 4;
    transform: translateY(4px) translateX(-168px) rotate(181deg);
}

.punto {
    position: relative;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    float: left;
    background: #000;
    border: 1px solid #000;
    z-index: 4;
}


.punto1{
    transform: translateY(-43px) translateX(-174px) rotate(181deg);
}

.linea1 {
    transform: translateY(7px) translateX(-169px) rotate(180deg);
    width: 168px;
}


.linea2 {
    transform: translateY(-4px) translateX(-143px) rotate(186deg);
    width: 140px;
}

.linea3 {
    transform: translateY(-30px) translateX(-115px) rotate(210deg);
    width: 110px;
}

.linea4 {
    transform: translateY(-57px) translateX(-105px) rotate(236deg);
}

.linea5 {
    transform: translateY(-72px) translateX(-91px) rotate(254deg);
}

.linea6 {
    transform: translateY(-76px) translateX(-67px) rotate(270deg);
    width: 100px;
}

.linea7 {
    transform: translateY(-86px) translateX(-51px) rotate(291deg);
    width: 118px;
}

.linea8 {
    transform: translateY(-77px) translateX(-21px) rotate(318deg);
}

.linea9 {
    transform: translateY(-11px) translateX(12px) rotate(169deg);
    width: 140px;
}

.linea10 {
    transform: translateY(-41px) translateX(11px) rotate(361deg);
    width: 168px;
}

.text {
    border-radius: 4px;
    font-family: Verdana;
    color: white;
    position: relative;
    overflow: hidden;
    padding: 4px;
    top: 37%;
    transform: translateY(-111%) rotate( 314deg);
    font-size: 17px;
    text-transform: uppercase;
}

.rombo {
    position: absolute;
    content: "";
    width: 45px;
    height: 45px;
    background: white;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    border: 1px solid;
    margin-left: -27px;
    margin-top: -6px;
    z-index: 1;
}
